.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 880px;
  justify-content: center;
  padding:40px;
  width: 100vw;

  .pageHeader {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 70px;
    text-align: center;
  }
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
}

@media only screen and (max-width: 900px) {
    
  .table {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .page {
    padding:5px;
  }
}